<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134521342419-u3b2as3kjf7939o317ee3qldlgn8pdc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134521342419-u3b2as3kjf7939o317ee3qldlgn8pdc8</string>
	<key>API_KEY</key>
	<string>AIzaSyDjsE__3MEhvK3KlWQVJF5PoNsn8uTb3q8</string>
	<key>GCM_SENDER_ID</key>
	<string>134521342419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shotwotFrontend</string>
	<key>PROJECT_ID</key>
	<string>shotwot-190b1</string>
	<key>STORAGE_BUCKET</key>
	<string>shotwot-190b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134521342419:ios:ff66ee51359b8ceabd4726</string>
</dict>
</plist>